# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
misc.xml
modules.xml
inspectionProfiles
rsw-to-test-soc.iml
vcs.xml
csv-plugin.xml
